---
import { permissionDescriptions, FsPermissionMap } from "@kksh/api/permissions"

// permissionDescriptions is an object with keys as permission names and values as descriptions
const permissions = Object.entries(permissionDescriptions)
const capitalizeFirstLetter = (str: string) => str.charAt(0).toUpperCase() + str.slice(1)

// each permission has format "{group}:{permission}" get all unique groups
const groups = Array.from(new Set(permissions.map(([permission]) => permission.split(":")[0])))
// reconstruct permissions object with group as key
const permissionGroups = groups.map((group) => {
	const groupPermissions = permissions.filter(([permission]) => permission.startsWith(group))
	return {
		group,
		permissions: groupPermissions.map(([permission, description]) => ({
			permission,
			description
		}))
	}
})
---

{
	permissionGroups.map(({ group, permissions }) => (
		<div>
			<h4>{capitalizeFirstLetter(group)}</h4>
			<ul>
				{permissions.map(({ permission, description }) => (
					<li>
						<code>
							<strong>{permission}</strong>
						</code>
						<ul>
							<li>{description}</li>
						</ul>
					</li>
				))}
			</ul>
		</div>
	))
}
